<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <div>
        <label for="last_name">Entrez votre nom:</label>
        <input type="text" id="last_name" name="last_name"
        >
    </div>
    <div>
        <label for="first_name">Entrez votre prénom:</label>
        <input type="text" id="first_name" name="first_name"
        >
    </div>
    <div>
        <input type="submit" value="Valider">
    </div>
</form>
</body>
</html>